@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto+Mono_400_normal.eot); /* http://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW8.eot */
    src: local('☺'),
        url(Roboto+Mono_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW8.eot */
        url(Roboto+Mono_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2 */
        url(Roboto+Mono_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW-.woff */
        url(Roboto+Mono_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW9AJi8SKQu.ttf */
        url(Roboto+Mono_400_normal.svg#Roboto+Mono_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW_&skey=7b92570108d40690&v=v13#RobotoMono */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(Source+Sans+Pro_400_normal.eot); /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot */
    src: local('☺'),
        url(Source+Sans+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot */
        url(Source+Sans+Pro_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2 */
        url(Source+Sans+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7j.woff */
        url(Source+Sans+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7gujVj9w.ttf */
        url(Source+Sans+Pro_400_normal.svg#Source+Sans+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7i&skey=1e026b1c27170b9b&v=v14#SourceSansPro */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(Source+Sans+Pro_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_300_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2 */
        url(Source+Sans+Pro_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdo.woff */
        url(Source+Sans+Pro_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr3cOWxw.ttf */
        url(Source+Sans+Pro_300_normal.svg#Source+Sans+Pro_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(Source+Sans+Pro_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_600_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2 */
        url(Source+Sans+Pro_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdo.woff */
        url(Source+Sans+Pro_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr3cOWxw.ttf */
        url(Source+Sans+Pro_600_normal.svg#Source+Sans+Pro_600_normal) format('svg'); /* {{svg-gf-url}} */
}
